@import '../lib/nib/'

brand1=#83c61a
brand2=#bd000c
brand3=#2eb3ed
brand4=#ee9908

brand2=lighten(desaturate(#9300cb,20%),10%)

lb1=lighten(brand1,15%)
lb2=lighten(brand2,15%)
lb3=lighten(brand3,15%)
lb4=lighten(brand4,15%)

light1=rgb(red(lb1)+15,green(lb1),blue(lb1))
light2=rgb(red(lb2),green(lb2)+15,blue(lb2))
light3=rgb(red(lb3),green(lb3)+15,blue(lb3))
light4=rgb(red(lb4),green(lb4)+15,blue(lb4))

xlight1=lighten(light1,15%)
xlight2=lighten(light2,6%)
xlight3=lighten(light3,25%)
xlight4=lighten(light4,25%)


xlight=xlight1 xlight2 xlight3 xlight4
light=light1 light2 light3 light4
brand=brand1 brand2 brand3 brand4