@import '../lib/nib/'
@import 'bits'

*
	position:relative
	box-sizing:border-box
	text-rendering:optimizeLegibility

html
	display:table
	text-align:center
	width:100%
	height:100%
	background:#575043
	font-family:Ubuntu, sans-serif
	overflow:hidden

body
	display:table-cell
	vertical-align:middle
	min-width:650px
	overflow:hidden

hgroup
	padding:20px 20px 0 20px
	-webkit-transition: -webkit-transform 1s
	-moz-transition: -moz-transform 1s
	-ms-transition: -ms-transform 1s
	-o-transition: -o-transform 1s
hgroup img{height:80px;margin-right:15px;padding-bottom:10px;vertical-align:middle}
h1{vertical-align:middle;display:inline-block;color:#eee;text-shadow:3px 3px 5px rgba(#000,0.3);margin:0}
h1 small{font-size:0.62em;color:#000;text-shadow:0 1px 0 rgba(#444,.5)}

a
	display:inline-block
	width:240px
	height:240px
	margin:2%
	border-radius:20px
	box-shadow:0 5px 20px #333
	line-height:520px
	text-decoration:none
	color:white
	font-size:20px
	text-shadow:0 5px 20px #000
	transform:scale3d(0.9,0.9,1)
	-webkit-transition: -webkit-transform .4s
	-moz-transition: -moz-transform .4s
	-ms-transition: -ms-transform .4s
	-o-transition: -o-transform .4s
	@media(max-width:1180px)
		width:200px
		height:200px
		background-size:200px 200px !important
		line-height:440px
	@media(max-width:980px)
		width:160px
		height:160px
		background-size:160px 160px !important
		line-height:360px
		font-size:16px
	@media(max-width:780px)
		width:120px
		height:120px
		background-size:120px 120px !important
		line-height:270px
		font-size:12px
	&:before
		content:""
		display:block
		position:absolute
		width:100%
		height:50%
		background:rgba(255,255,255,0.15)
		top:0
		left:0
		border-bottom-left-radius:50% 20px
		border-bottom-right-radius:50% 20px
		border-top-left-radius:20px
		border-top-right-radius:20px
	&:hover
		transform:scale3d(1,1,1)

	&.highdpi
		background-size:240px 240px

for i in 0 1 2 3
	.l{i+1}
		background:brand[i] url(s("ico%s.png",i+1))
		border-top:solid 1px lighten(brand[i],10%)

	.l{i+1}.highdpi
		background-image:url(s("ico%s-2x.png",i+1))

iframe
	position:absolute
	width:100%
	height:100%
	top:100%
	left:0
	//-webkit-transform:translate(0,100%)
	pointer-events:none
	transition:1s
	z-index:100
	border:none
	transform:translateY(1)
	-webkit-backface-visibility:hidden
	-webkit-perspective:1000


iframe.go
	pointer-events:auto
	top:0 !important
	//-webkit-transform:none
	
