*{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-rendering:optimizeLegibility;line-height:1.5em}
html{overflow-y:scroll}
body{font-family:Ubuntu,Helvetica Neue,Helvetica,sans-serif;margin:0;background:#575043;min-width:700px;color:rgba(0,0,0,0.7);font-size:16px;-webkit-text-size-adjust:100%}
a{text-decoration:underline}
img{border:none}
body.p1{background:#dbf3a3}
body.p2{background:#dca3f4}
body.p3{background:#bcecfa}
body.p4{background:#fde5ae}
ul{margin:1.5em 0;padding-left:1em}
li{max-width:30em}
.paypal{height:25px;vertical-align:middle}
.cover{z-index:100;background:rgba(0,0,0,0.4);position:fixed;width:100%;height:100%;top:0;left:0;}
.cover:before{content:"";background:url("cancelw.png") center no-repeat;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;background-size:32px 32px;width:32px;height:32px;display:block;position:absolute;bottom:80%;left:80%}
.cover iframe{background:#fff;border:none;position:absolute;width:60%;height:60%;top:20%;left:20%;-webkit-box-shadow:0 0 40px rgba(0,0,0,0.5);box-shadow:0 0 40px rgba(0,0,0,0.5)}
hgroup{padding:15px 20px 0 20px;position:absolute}
hgroup img{height:80px;margin-right:14px;padding-bottom:10px;vertical-align:middle}
h1{vertical-align:middle;display:inline-block;color:#fff;text-shadow:3px 3px 5px rgba(0,0,0,0.2);margin:0}
h1 small{font-size:.62em}
h1 img{height:62px;vertical-align:middle;margin-left:.35em;padding-bottom:14px;-webkit-filter:drop-shadow(6px 6px 10px rgba(0,0,0,0.2));-webkit-transform:translateZ(1px)}
#cart,#mail{position:absolute;font-size:.6em;color:#fff;z-index:1}
#cart{position:absolute;top:0;right:0;padding:5px;}
#cart img{width:16px;height:16px;margin-left:5px;vertical-align:bottom}
#cart span{top:-20px;-webkit-transition:top .3s;-moz-transition:top .3s;-o-transition:top .3s;-ms-transition:top .3s;transition:top .3s}
#cart:hover span{top:0 !important}
#mail{top:0;right:74px;}
#mail .link{text-decoration:underline;cursor:pointer}
#mail span{padding:7px;display:inline-block}
#mail input[type=email]{border:none;-webkit-border-radius:5px;border-radius:5px;padding:1px 5px;font-family:Ubuntu}
#mail input[type=submit]{border:none;-webkit-border-radius:5px;border-radius:5px;padding:1px 5px;background:#2eb3ed;color:#fff;font-family:Ubuntu;cursor:pointer}
#mail input{display:none}
#mail.clicked input{display:inline-block}
#mail.clicked span{display:none}
nav{text-align:right;direction:rtl;padding-top:60px;}
@media (max-width:950px){nav{padding-top:83px}
}nav a{color:rgba(0,0,0,0.7);text-decoration:none;text-wrap:nowrap;text-align:left;width:210px;height:37px;margin-right:17px;direction:ltr;display:inline-block;vertical-align:top;padding:7px 1px 9px 1px;top:1px;border-top:solid 1px #000;font-size:20px;line-height:1em;text-shadow:0 -1px rgba(0,0,0,0.1),0 1px rgba(255,255,238,0.2);}
@media (max-width:1440px){nav a{width:auto}
}.tab{-webkit-transform:scale(.6,.6);-moz-transform:scale(.6,.6);-o-transform:scale(.6,.6);-ms-transform:scale(.6,.6);transform:scale(.6,.6);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;position:absolute;top:0;right:-34px}
.tab:nth-child(3){left:-20px}
.border{-webkit-transform:scale(.6,.6);-moz-transform:scale(.6,.6);-o-transform:scale(.6,.6);-ms-transform:scale(.6,.6);transform:scale(.6,.6);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;position:absolute;top:-1px;right:-35px}
.border:nth-child(1){left:-21px}
svg path{stroke:none}
#p1{background:#a9e328;border-top-color:#b6e748}
#p1 .tab path{fill:#a9e328}
#p1 .border path{fill:#b6e748}
#p2{background:#b43ae8;border-top-color:#b946e9}
#p2 .tab path{fill:#b43ae8}
#p2 .border path{fill:#b946e9}
#p3{background:#4dcdf0;border-top-color:#7adaf4}
#p3 .tab path{fill:#4dcdf0}
#p3 .border path{fill:#7adaf4}
#p4{background:#f8b926;border-top-color:#facb5c}
#p4 .tab path{fill:#f8b926}
#p4 .border path{fill:#facb5c}
#p1:before{content:"Copyright Free ";}
@media (max-width:1220px){#p1:before{content:"© free "}
}@media (max-width:1140px){#p1:before{content:"";display:none}
}#p2:before{content:"Sign ";}
@media (max-width:1080px){#p2:before{content:"";display:none}
}#p3:before{content:"Vehicle ";}
@media (max-width:1030px){#p3:before{content:"";display:none}
}.p1 #p1,.p2 #p2,.p3 #p3,.p4 #p4{z-index:10;padding:8px 1px 8px 1px;cursor:default}
#top{overflow:hidden;background:#575043}
header{display:inline-block;width:100%;-webkit-box-shadow:0 0 40px #333;box-shadow:0 0 40px #333;padding:20px;}
header a{color:rgba(255,255,255,0.8)}
header:after{content:"";display:block;position:absolute;top:5px;right:5px;width:750px;height:82px;background-position:top right;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";pointer-events:none;cursor:default;display:none}
.p1 header{border-top:solid 1px #b6e748;background:#a9e328;background:url("bak1.png") center right no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0, #a9e328), color-stop(0.1, #94df1d), color-stop(0.9, #83c61a), color-stop(1, #7cbc19));background:url("bak1.png") center right no-repeat,-webkit-linear-gradient(top, #a9e328 0%, #94df1d 10%, #83c61a 90%, #7cbc19 100%);background:url("bak1.png") center right no-repeat,-moz-linear-gradient(top, #a9e328 0%, #94df1d 10%, #83c61a 90%, #7cbc19 100%);background:url("bak1.png") center right no-repeat,-o-linear-gradient(top, #a9e328 0%, #94df1d 10%, #83c61a 90%, #7cbc19 100%);background:url("bak1.png") center right no-repeat,-ms-linear-gradient(top, #a9e328 0%, #94df1d 10%, #83c61a 90%, #7cbc19 100%);background:url("bak1.png") center right no-repeat,linear-gradient(top, #a9e328 0%, #94df1d 10%, #83c61a 90%, #7cbc19 100%);border-bottom:solid 1px #629414;-webkit-background-size:auto 82px,100% 100%;-moz-background-size:auto 82px,100% 100%;background-size:auto 82px,100% 100%}
.p1 header:after{background-image:url("bak1.png")}
.p2 header{border-top:solid 1px #b946e9;background:#b43ae8;background:url("bak2.png") center right no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0, #b43ae8), color-stop(0.1, #af1fe7), color-stop(0.9, #9f17d3), color-stop(1, #9716c8));background:url("bak2.png") center right no-repeat,-webkit-linear-gradient(top, #b43ae8 0%, #af1fe7 10%, #9f17d3 90%, #9716c8 100%);background:url("bak2.png") center right no-repeat,-moz-linear-gradient(top, #b43ae8 0%, #af1fe7 10%, #9f17d3 90%, #9716c8 100%);background:url("bak2.png") center right no-repeat,-o-linear-gradient(top, #b43ae8 0%, #af1fe7 10%, #9f17d3 90%, #9716c8 100%);background:url("bak2.png") center right no-repeat,-ms-linear-gradient(top, #b43ae8 0%, #af1fe7 10%, #9f17d3 90%, #9716c8 100%);background:url("bak2.png") center right no-repeat,linear-gradient(top, #b43ae8 0%, #af1fe7 10%, #9f17d3 90%, #9716c8 100%);border-bottom:solid 1px #77119e;-webkit-background-size:auto 82px,100% 100%;-moz-background-size:auto 82px,100% 100%;background-size:auto 82px,100% 100%}
.p2 header:after{background-image:url("bak2.png")}
.p3 header{border-top:solid 1px #7adaf4;background:#4dcdf0;background:url("bak3.png") center right no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0, #4dcdf0), color-stop(0.1, #43bbef), color-stop(0.9, #2eb3ed), color-stop(1, #21aeec));background:url("bak3.png") center right no-repeat,-webkit-linear-gradient(top, #4dcdf0 0%, #43bbef 10%, #2eb3ed 90%, #21aeec 100%);background:url("bak3.png") center right no-repeat,-moz-linear-gradient(top, #4dcdf0 0%, #43bbef 10%, #2eb3ed 90%, #21aeec 100%);background:url("bak3.png") center right no-repeat,-o-linear-gradient(top, #4dcdf0 0%, #43bbef 10%, #2eb3ed 90%, #21aeec 100%);background:url("bak3.png") center right no-repeat,-ms-linear-gradient(top, #4dcdf0 0%, #43bbef 10%, #2eb3ed 90%, #21aeec 100%);background:url("bak3.png") center right no-repeat,linear-gradient(top, #4dcdf0 0%, #43bbef 10%, #2eb3ed 90%, #21aeec 100%);border-bottom:solid 1px #118dc3;-webkit-background-size:auto 82px,100% 100%;-moz-background-size:auto 82px,100% 100%;background-size:auto 82px,100% 100%}
.p3 header:after{background-image:url("bak3.png")}
.p4 header{border-top:solid 1px #facb5c;background:#f8b926;background:url("bak4.png") center right no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0, #f8b926), color-stop(0.1, #f7a519), color-stop(0.9, #ee9908), color-stop(1, #e29108));background:url("bak4.png") center right no-repeat,-webkit-linear-gradient(top, #f8b926 0%, #f7a519 10%, #ee9908 90%, #e29108 100%);background:url("bak4.png") center right no-repeat,-moz-linear-gradient(top, #f8b926 0%, #f7a519 10%, #ee9908 90%, #e29108 100%);background:url("bak4.png") center right no-repeat,-o-linear-gradient(top, #f8b926 0%, #f7a519 10%, #ee9908 90%, #e29108 100%);background:url("bak4.png") center right no-repeat,-ms-linear-gradient(top, #f8b926 0%, #f7a519 10%, #ee9908 90%, #e29108 100%);background:url("bak4.png") center right no-repeat,linear-gradient(top, #f8b926 0%, #f7a519 10%, #ee9908 90%, #e29108 100%);border-bottom:solid 1px #b37306;-webkit-background-size:auto 82px,100% 100%;-moz-background-size:auto 82px,100% 100%;background-size:auto 82px,100% 100%}
.p4 header:after{background-image:url("bak4.png")}
header footer{opacity:.6;filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";position:absolute;bottom:0;left:20px;text-shadow:0 1px 0 rgba(255,255,255,0.2);font-size:.62em}
.content{padding:20px}
.p1 .content{border-top:solid 1px #e9f8c8}
.p2 .content{border-top:solid 1px #eac8f8}
.p3 .content{border-top:solid 1px #d7f4fc}
.p4 .content{border-top:solid 1px #feefce}
header article{display:none}
.p1 header .p1,.p2 header .p2,.p3 header .p3,.p4 header .p4{display:block}
figure{width:310px;display:inline-block;background:#fff;overflow:hidden;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);box-shadow:0 0 8px rgba(0,0,0,0.3);margin:0 20% 10px 20px;float:right;}
@media (max-width:1000px){figure{margin:0 200px 10px 20px}
}@media (max-width:730px){figure{display:block;float:none}
}figure:before{content:"";display:block;padding-top:48%}
figure img{position:absolute;width:100%;top:0;left:0;-webkit-transition:opacity 1s;-moz-transition:opacity 1s;-o-transition:opacity 1s;-ms-transition:opacity 1s;transition:opacity 1s;-webkit-transform:translateZ(1px);-moz-transform:translateZ(1px);-o-transform:translateZ(1px);-ms-transform:translateZ(1px);transform:translateZ(1px)}
.p4 figure{width:605px;margin:0 180px 10px 20px;}
.p4 figure:before{padding-top:24%}
.p1 figure{width:367px;}
.p1 figure:before{padding-top:41%}
.p2 figure{width:277px;}
.p2 figure:before{padding-top:54%}
.more{cursor:pointer;display:block}
.more:after{content:"More..."}
.popup{display:none}
.show .more:after{content:"Less..."}
.show .popup{display:block}
.ie8 .more{display:none}
body.p3 .content form{padding:30px;padding-top:10px;text-align:center}
body.p3 .content input[type=text]{font-size:1.4em;padding:5px 10px;width:300px;max-width:100%;-webkit-border-radius:25px;border-radius:25px;-webkit-box-shadow:inset 0 2px 11px #ccc,0 1px 0 #fff,0 -1px 0 rgba(0,0,0,0.2);box-shadow:inset 0 2px 11px #ccc,0 1px 0 #fff,0 -1px 0 rgba(0,0,0,0.2);border:none;background:#fff url("search.png") center right no-repeat;-webkit-background-size:32px 24px;-moz-background-size:32px 24px;background-size:32px 24px;font-family:Ubuntu}
body.p3 .content ::-webkit-input-placeholder{color:rgba(0,0,0,0.3)}
body.p3 .content :-moz-placeholder{color:rgba(0,0,0,0.3)}
#close{height:48px;width:48px;padding:12px;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";vertical-align:bottom;position:absolute}
#models{text-align:center}
#models img{height:90px;width:auto !important;float:left;margin-right:10px;margin-top:-12px;border:none}
#models a{width:350px;display:inline-block;vertical-align:top;border:solid 10px #fff;background:#fff url("add.png") 219px 74px no-repeat;margin:10px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);box-shadow:0 0 5px rgba(0,0,0,0.1);text-align:left;text-decoration:underline;color:#2eb3ed;white-space:pre-wrap;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;transition:all .3s;background-position:219px 111px !important;overflow:hidden;}
#models a:hover{background-position:209px 51px !important}
#showall{cursor:pointer}
#logs{width:80%;-webkit-column-width:200px;-moz-column-width:200px;column-width:200px;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px;display:inline-block;vertical-align:top;padding-left:20px}
#logs a{display:inline-block;width:100%;background:#fff;margin-bottom:20px;padding:10px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);box-shadow:0 0 5px rgba(0,0,0,0.1);-webkit-transform:translateZ(1px)}
#logs img{width:100%}
.ie #logs{text-align:center;}
.ie #logs a{vertical-align:middle;width:200px;margin-left:10px;margin-right:10px}
#buts{width:20%;display:inline-block;vertical-align:top;-webkit-column-width:100px;-moz-column-width:100px;column-width:100px;-webkit-column-gap:5px;-moz-column-gap:5px;column-gap:5px}
#buts button{display:inline-block;background:#fff;padding:5px;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);box-shadow:0 0 5px rgba(0,0,0,0.1);border:none;font-size:1em;text-decoration:underline;width:100%;cursor:pointer;text-align:left;margin-bottom:5px;-webkit-transform:translateZ(1px)}
.p1 #buts button{color:#83c61a}
.p2 #buts button{color:#9f17d3}
.p4 #buts button{color:#ee9908}
.p4 #logs{-webkit-column-width:500px;-moz-column-width:500px;column-width:500px}
[placeholder]:focus::-webkit-input-placeholder{-webkit-transition:opacity 1s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
