@import '../lib/nib/'
@import 'bits'

*
	position:relative
	box-sizing:border-box
	text-rendering:optimizeLegibility
	line-height:1.5em

html
	overflow-y: scroll
body
	font-family: Ubuntu, Helvetica Neue,Helvetica,sans-serif
	margin:0
	min-width:600px
	color:rgba(#000,.7)
	font-size:16px //force font size in mobile webkit
	-webkit-text-size-adjust: 100% //force font size in mobile webkit

img
	border:none

for i in 0 1 2 3
	body.p{i+1}
		background:lighten(xlight[i],50%)
ul
	margin:1.5em 0
	padding-left:1.1em
li
	max-width:30em

.paypal
	height:25px
	vertical-align:middle
.cover
	z-index:10
	background:rgba(#000,.4)
	position:fixed
	width:100%
	height:100%
	top:0
	left:0
	&:before
		content:""
		background:url(cancelw.png) center no-repeat
		background-size:32px 32px 
		width:32px
		height:32px
		display:block
		position:absolute
		bottom:80%
		left:80%
	iframe
		background:#fff
		border:none
		position:absolute
		width:60%
		height:60%
		top:20%
		left:20%

.hgroup{padding:15px 20px 15px 20px;position:absolute}
.hgroup img{height:62px;margin-right:13px;vertical-align:middle}
h1{vertical-align:middle;display:inline-block;color:#fff;text-shadow:3px 3px 5px rgba(#000,.2);margin:0}

#cart,#mail,#stoggle
	position:absolute
	font-size:.62em
	color:#fff
	z-index:1
	cursor:pointer
#stoggle:before
	content:"S"
	font-weight:bold
	font-size:1.62em
	padding:7px
	display:inline-block
#stoggle
	position:absolute
	top:0
	right:0
#cart
	top:0
	right:20px
	padding:5px
	img
		width:16px
		height:16px
		margin-left:5px
		vertical-align:bottom
	span
		top:-20px
		transition:top .3s
	&:hover span
		top:0 !important
#mail
	top:0
	right:94px
	.link
		text-decoration:underline
	span
		padding:7px
		display:inline-block
	input[type=email]
		background:#fff
	input[type=submit]
		background:brand[2]
		color:#fff
		cursor:pointer
	input
		border:none
		display:none
		border-radius:5px
		padding:1px 5px
		font-family: Ubuntu
#mail.clicked
	input
		display:inline-block
	span
		display:none


nav
	text-align:right
	direction:rtl
	padding-top:50px
	@media(max-width:950px)
		padding-top:75px


nav a
	color:rgba(#000,.7)
	text-decoration:none
	text-wrap:nowrap
	text-align:left
	width:210px
	height:37px
	margin-right:17px
	direction:ltr
	display:inline-block
	vertical-align:top
	padding:7px 1px 9px 1px
	border-top:solid 1px #000
	font-size:20px
	line-height:1em
	text-shadow:0 -1px rgba(#000,.1),0 1px rgba(#ffe,.2)
	@media (max-width:1440px)
		width:auto

.tab{transform:scale(.6,.6);transform-origin:0 0;position:absolute;top:0;right:-34px;}
.tab:nth-child(3){left:-20px}
.border{transform:scale(.6,.6);transform-origin:0 0;position:absolute;top:-1px;right:-35px;}
.border:nth-child(1){left:-21px}
svg path{stroke:none;}

for i in 0 1 2 3
	#p{i+1}
		background:light[i]
		border-top-color:xlight[i]
	#p{i+1} .tab path
		fill:light[i]
	#p{i+1} .border path
		fill:xlight[i]

#p1:before
	content:"Copyright Free "
	@media (max-width:1080px)
		content:"© free "
	@media (max-width:1000px)
		content:""
		display:none


.p1 #p1,
.p2 #p2,
.p3 #p3,
.p4 #p4
	z-index:2
	padding:8px 1px 8px 1px
	cursor:default

#top
	overflow:hidden
	background:#575043
	margin-bottom:-1px

header
	width:100%
	padding:20px
	box-shadow:0 -15px 15px -15px rgba(#000,.3)
	a
		color:rgba(#fff,.8)


for i in 0 1 2 3
	.p{i+1} header
		border-top:solid 1px xlight[i]
		background:light[i]
		background:url(s("bak%s.png",i+1)) center right no-repeat ,linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
		//-pie-background: @background-image
		border-bottom:solid 1px darken(brand[i],25%)
		background-size:auto 82px, 100% 100%


header footer
	opacity:.6
	position:absolute
	bottom:0
	left:20px
	text-shadow:0 1px 0 rgba(#fff,.2)
	font-size: .62em

.content
	padding:20px
	z-index:1
	transform:translateZ(1px)

for i in 0 1 2 3
	.p{i+1} .content
		border-top:solid 1px lighten(xlight[i],70%)

header article
	display:none
	strong
		white-space:nowrap
.p1 header .p1,
.p2 header .p2,
.p3 header .p3,
.p4 header .p4
	display:block


figure
	width:310px
	display:inline-block
	background:#fff
	overflow:hidden
	box-shadow:0 0 8px rgba(#000,.3)
	margin:0 20% 10px 20px
	float:right
	@media (max-width:1000px)
		margin:0 200px 10px 20px
	@media (max-width:730px)
		display:block
		float:none

	&:before
		content:""
		display:block
		padding-top:48%
	img 
		position:absolute
		width:100%
		top:0
		left:0
		transition:opacity 1s
		transform:translateZ(1px);

.p4 figure
	width:605px
	margin:0 180px 10px 20px
	&:before
		padding-top:24%

.p1 figure
	width:367px
	//margin:0 180px 10px 20px
	&:before
		padding-top:41%

.p2 figure
	width:277px
	//margin:0 180px 10px 20px
	&:before
		padding-top:54%


.more
	cursor:pointer
	display:block
.more:after
	content:"More..."
.popup
	max-height:0px
	overflow:hidden
	transition:max-height .6s


.show
	.more:after
		content:"Less..."
	.popup
		max-height:400px

.ie8 .more
	display:none
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//templates (p3) styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body.p3
	.content
		form{padding:30px;padding-top:10px;text-align:center}

		input[type=text]
			font-size:1.4em
			padding:5px 10px
			width:300px
			max-width:100%
			border-radius:25px
			//box-shadow:inset 0 2px 11px #ccc,0 1px 0 #fff,0 -1px 0 rgba(#000,.2)
			border:none
			background:#fff url(search.png) center right no-repeat
			background-size:32px 24px
			//fixes bug in chrome
			font-family: Ubuntu

		::-webkit-input-placeholder
			color: rgba(#000,.3)

		:-moz-placeholder
			color: rgba(#000,.3)

#close
	height:48px
	width:48px
	padding:12px
	opacity:0
	vertical-align:bottom
	position:absolute

#models
	text-align:center
#models img{height:90px;width:auto !important;margin-top:-13px;margin-right:-1px}
#models a
	width:350px
	display:inline-block
	vertical-align:top
	padding: 10px
	background:#fff url(add.png) 219px 74px no-repeat
	margin:10px
	//box-shadow:0 0 5px rgba(#000,.1)
	text-align:left
	text-decoration:underline
	color:brand[2]
	white-space:pre-wrap
	transition:all .3s
	background-position:220px 100px !important
	overflow:hidden
	&:hover
		background-position:220px 63px !important
	div
		display:inline-block
		float:left
		overflow:hidden
		margin-right:10px
		height:76px

#showall
	cursor:pointer

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//logos (p1,p2) styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#logs
	a
		display:inline-block
		width:100%
		background:white
		margin-bottom:20px
		padding:10px
		//box-shadow:0 0 5px rgba(#000,.1)
		//-webkit-transform:translateZ(1px) //fixes a rendering bug in webkit :)

	img
		width:100%

	width:80%
	column-width:200px
	column-gap:20px
	display:inline-block
	vertical-align:top
	padding-left:20px

.ie #logs
	text-align:center
	a
		vertical-align:middle
		width:200px
		margin-left:10px
		margin-right:10px

#buts
	button
		display:inline-block
		background:white
		padding:5px
		//box-shadow:0 0 5px rgba(#000,.1)
		border:none
		font-size:1em
		text-decoration:underline
		width:100%
		cursor:pointer
		text-align:left
		margin-bottom:5px
		//-webkit-transform:translateZ(1px) //fixes a rendering bug in webkit :)
	width:20%
	display:inline-block
	vertical-align:top
	column-width:100px
	column-gap:5px

.p1 #buts button
	color:brand[0]
.p2 #buts button
	color:brand[1]
.p4 #buts button
	color:brand[3]
.p4 #logs
	column-width:500px

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 1s ease
	opacity: 0
}

.simple
	header article
		display:none !important
	header
		padding-top:0 !important
		background:none !important
		border:none !important
	.p1 header a
		color:brand[0] !importante
	.p2 header a
		color:brand[1] !important
	.p3 header a
		color:brand[2] !important
	.p4 header a
		color:brand[3] !important
	.content
		border:none !important

	for i in 0 1 2 3
		#p{i+1}
			background:lighten(xlight[i],50%)
			border-top-color:lighten(xlight[i],50%)
			margin-bottom:-1px
		#p{i+1} .tab path
			fill:lighten(xlight[i],50%)
		#p{i+1} .border path
			fill:lighten(xlight[i],50%)

	#mail
		display:none

	.hgroup img, .hgroup small
		display:none
	.hgroup
		padding-top:7px !important
	nav
		padding-top:27px

	#cart span
		display:none !important

	nav a:before
		content:"" !important