@import '../lib/nib/'
@import 'bits'

*
	position:relative
	box-sizing:border-box
	text-rendering:optimizeLegibility
	line-height:1.5em

body
	font-family: Ubuntu, Helvetica Neue,Helvetica,sans-serif
	margin:0
	background:#575043
	min-width:560px
	color:rgba(#000,0.7)

for i in 0 1 2 3
	body.p{i+1}
		background:lighten(xlight[i],50%)

li
	max-width:30em

hgroup{padding:20px 20px 0 20px;position:absolute}
hgroup img{height:80px;margin-right:15px;padding-bottom:10px;vertical-align:middle}
h1{vertical-align:middle;display:inline-block;color:#eee;text-shadow:3px 3px 5px rgba(#000,0.3);margin:0}
h1 small{font-size:0.62em;color:#000;text-shadow:0 1px 0 rgba(#444,.5)}

nav
	text-align:right
	direction:rtl
	padding-top:78px
	@media(max-width:950px)
		padding-top:83px


nav a
	color:rgba(#000,0.7)
	text-decoration:none
	text-wrap:nowrap
	text-align:left
	width:210px
	height:37px
	direction:ltr
	display:inline-block
	vertical-align:top
	padding:7px 1px 9px 1px
	margin-right:17px
	top:1px
	border-top:solid 1px #000
	font-size:20px
	line-height:1em
	text-shadow:0 -1px rgba(#000,0.1),0 1px rgba(#ffe,0.2)
	@media (max-width:1440px)
		width:auto

.tab{transform:scale(0.6,0.6);transform-origin:0 0;position:absolute;top:0;right:-34px;}
.tab:nth-child(3){left:-20px}
.border{transform:scale(0.6,0.6);transform-origin:0 0;position:absolute;top:-1px;right:-35px;}
.border:nth-child(1){left:-21px}
svg path{stroke:none;}

for i in 0 1 2 3
	#p{i+1}
		background:light[i]
		border-top-color:xlight[i]
	#p{i+1} .tab path
		fill:light[i]
	#p{i+1} .border path
		fill:xlight[i]

#p1:before
	content:"Copyright Free "
	@media (max-width:1220px)
		content:"© free "
	@media (max-width:1140px)
		content:""
		display:none

#p2:before
	content:"Sign "
	@media (max-width:1080px)
		content:""
		display:none

#p3:before
	content:"Vehicle "
	@media (max-width:1030px)
		content:""
		display:none


.p1 #p1,
.p2 #p2,
.p3 #p3,
.p4 #p4
	z-index:10
	padding:8px 1px 8px 1px

#top
	overflow:hidden
	background:#575043

header
	box-shadow:0 0 40px #333
	padding:20px
	min-height:200px
	a
		color:rgba(#fff,0.8)
	&:after
		content:""
		display:block
		position:absolute
		top:0
		right:0
		width:200px
		height:200px
		background-size:200px 200px
		opacity:.5

for i in 0 1 2 3
	.p{i+1} header
		border-top:solid 1px xlight[i]
		background:light[i]
		background-image:linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
		-pie-background: @background-image
		border-bottom:solid 1px darken(brand[i],25%)
		&:after
			background-image:url(s("ico%s-2x.png",i+1))

header footer
	opacity:.6
	position:absolute
	bottom:0
	left:20px
	text-shadow:0 1px 0 rgba(#fff,0.2)
	font-size:0.62em

.content
	padding:20px

for i in 0 1 2 3
	.p{i+1} .content
		border-top:solid 1px lighten(xlight[i],70%)

header article
	display:none
.p1 header .p1,
.p2 header .p2,
.p3 header .p3,
.p4 header .p4
	display:block


figure
	width:310px
	display:inline-block
	background:#fff
	overflow:hidden
	box-shadow:0 0 8px rgba(#000,0.3)
	margin:0 20% 10px 20px
	float:right
	@media (max-width:1000px)
		margin:0 200px 10px 20px
	@media (max-width:730px)
		display:block
		float:none

	&:before
		content:""
		display:block
		padding-top:48%
	img 
		position:absolute
		width:100%
		top:0
		left:0
		transition:opacity 1s
		transform:translateZ(1px);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//templates (p3) styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body.p3
	.content
		form{padding:30px;text-align:center}

		input[type=text]
			font-size:1.4em
			padding:5px 10px
			width:300px
			max-width:100%
			border-radius:25px
			box-shadow:inset 0 2px 11px #ccc,0 1px 0 #fff,0 -1px 0 rgba(#000,0.2)
			border:none
			background:#fff url(search.png) center right no-repeat
			background-size:32px 24px
			//fixes bug in chrome
			font-family: Ubuntu

		::-webkit-input-placeholder
			color: rgba(#000,0.3)

		:-moz-placeholder
			color: rgba(#000,0.3)

#close
	height:48px
	padding:12px
	opacity:0
	vertical-align:bottom
	position:absolute

#models
	text-align:center
#models img{height:90px;float:left;margin-right:10px;border:none}
#models a
	width:350px
	display:inline-block
	vertical-align:top
	padding:10px
	background:#fff
	margin:10px
	box-shadow:0 0 5px rgba(#000,0.1)
	text-align:left
	text-decoration:underline
	color:brand[2]
#showall
	cursor:pointer

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//logos (p1) styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body.p1 .content
	a
		display:inline-block
		width:100%
		background:white
		margin-bottom:20px
		padding:10px

	img
		width:100%

	column-width:200px
	column-gap:20px

//var i,txt="";
//for(i in a){
//txt+="<a href='"+a[i][0]+"'><img src='logos/"+a[i][1]+".png'></a>"
//}

