doctype html
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible",content="chrome=1")
meta(name="viewport",content="width=device-width")
meta(name="keywords",content="vehicle templates,vehicle outlines,vector")
meta(name="robots",content="index, follow, noodp, noydir")
//
	|  _________________________________________
	| |                                         |
	| | Want to improve the code of             |
	| | this website or report a bug?           |
	| | Go to: github.com/williammalo/signshop  |
	| |___  ____________________________________|
	|     |/

title Signshop Helper - Vehicle Templates
meta(name="description",content="Single download 1:20 scale vector vehicle templates for wraps")
link(rel="dns-prefetch", href="http://signshop.s3-website-us-east-1.amazonaws.com")
link(rel="dns-prefetch", href="http://signshophelper.fetchapp.com")
link(rel="dns-prefetch", href="https://www.paypal.com")
link(rel="dns-prefetch", href="http://fonts.gstatic.com")
link(rel="dns-prefetch", href="http://fonts.googleapis.com")
style
	include ../../style.css
//link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,700',rel='stylesheet')
//link(rel="stylesheet",href="style.css")
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#2eb3ed">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<!--[if IE]>
script(src="ie.js")
<body class=ie>
<![endif]-->

input.hidden(type="checkbox", id="toggle-info")
input.hidden(type="checkbox", id="toggle-mail")


.toolbar
	label(for="toggle-info",data-title="more info").toolbar-icon.info
		<svg width="16" height="16" viewBox="0 0 16 16"><path d="M15.5 6h-5.5v-5.5c0-0-0-.5-.5-.5h-3c-0 0-.5 0-.5.5v5.5h-5.5c-0 0-.5 0-.5.5v3c0 0 0 .5.5.5h5.5v5.5c0 0 0 .5.5.5h3c0 0 .5-0 .5-.5v-5.5h5.5c0 0 .5-0 .5-.5v-3c0-0-0-.5-.5-.5z" fill="#fff"/></svg>
	a.toolbar-icon.twitter(data-title="twitter",href="https://twitter.com/Signshophelper",target="_blank")
		<svg width="16" height="16" viewBox="0 0 16 16"><path d="M13.6 5.63c.2 6.67-6.74 10.9-12.7 7.27 1.83.2 3.27-.4 4.31-1.2-1.26 0-2.39-.9-2.71-1.96.44.08.96.05 1.31-.05-1.45-.34-2.32-1.43-2.32-2.87-.04.01.74.37 1.31.37-1.38-.94-1.62-2.62-.89-3.86 1.47 1.81 3.81 2.94 5.94 3.02-.59-3.26 3.15-4.59 4.95-2.63.667-.127 1.3-.36 1.9-.7-.267.687-.7 1.22-1.3 1.59.642-.06 1.668-.468 1.63-.468.019 0-.869 1.077-1.43 1.487z" fill="#fff"/></svg>
	a.toolbar-icon.cart(data-title="view cart",href="http://signshophelper.fetchapp.com/cart/pp",target="_blank")
		<svg width="16" height="16" viewBox="0 0 16 16"><path d="M15 3c-.5 0-1 0-1.2.7v.3h-9.6v-1c0-.5-.7-1.1-1.2-1h-2c-.5 0-1 .5-1 1s.4.9.9.9h1.6l1 7.2c0 .5.4.8.9.8h8.6c.4 0 .9-.6 1-1l2-7c0-1-1-1-1-1zm-7 5v-1h2v1zm2 1v1h-2v-1zm-2-3v-1h2v1zm-3.6-1h2.6v1h-2.5zm.3 2h2.4v1h-2.3zm.3 2h2.1v1h-2zm7.4 1h-1.2v-1h1.5l-.3 1zm.6-2h-1.87v-1h2.1zm.6-2h-2.3v-1h2.7l-.3 1zm-9.4 8.5c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5-.7 1.5-1.5 1.5-1.5-.7-1.5-1.5zm6 0c0-.8.7-1.5 1.5-1.5s1.5.7 1.5 1.5-.7 1.5-1.5 1.5-1.5-.7-1.5-1.5z" fill="#fff"/></svg>

.header-content
	.header-content-inner
		<svg width="37" height="77" class="logo" viewBox="0 0 26 54"><path d="M13 0c-7 0-13 1-13 2v30c0 1 6 2 13 2 7 0 13-1 13-2v-30c0-1-6-2-13-2zm-10 27c0 0 1 1 1 2s-0 2-1 2c-1 0-1 -1 -1 -2s 0 -2 1 -2 zm-3 6v 1c0 1 3 1 7 2v8c0 0 1 1 1.5 1l9 0 c 1 0 2-1 2 -1 v-8c4-0 7-1 7-2v-1c0 1-6 2-13 2-7-0-13-1-13-2zm9 13v9l7-7v-2z" fill="#fff"/></svg>
		.middle
			h1 SIGNSHOP <span class='header-helper'>HELPER</span>
			.desktop 1:20 scale vehicle templates in .eps and .pdf format. 24.95$ each. Pay with PayPal.
		.mobile  1:20 scale vehicle templates in .eps and .pdf format. 24.95$&nbsp;each.&nbsp;Pay&nbsp;with&nbsp;PayPal.

header.dark-background#subscribed
	.banner-words selection
	.banner-words creation
	.banner-words installation
.main
	form#inputform
		input(type="text", id="ws-input", autofocus, placeholder="Search Your Model…")
		
	.pad.popup
		.block.info-block
			.slide
				img(data-src="1.jpg",alt="")
				img(data-src="2.jpg",alt="")
				img(data-src="3.jpg",alt="")
				img(data-src="4.jpg",alt="")
				img(data-src="5.jpg",alt="")
				img(data-src="6.jpg",alt="")
			ul
				li Vehicle outlines for cars, trucks, SUV's, vans, trailers, and tractors.
				li Accuracy of outlines makes it easy to scale vehicles and make layouts.
				li Try one for free: <a href="http://signshop.s3-website-us-east-1.amazonaws.com/chrysler-pacifica-2004-2008.eps" download="chrysler-pacifica-2004-2008.eps">eps</a> / <a href="http://signshop.s3-website-us-east-1.amazonaws.com/chev-express-cube-16ft.pdf" download="chev-express-cube-16ft.pdf">pdf</a>
				li
					a(href="faq",target="_blank",id="faq") FAQ's
			p: strong Always check the measurements of the vehicle. Before cutting or printing any final artwork measure doors, windows and body side to verify graphic maximum size.
			div
				.spacer © #{(new Date).getFullYear()}, Signshop Helper, Graphic Library.
				.spacer Contact us: <a href=mailto:info@graphik-link.com>info@graphik-link.com</a>

	include default.html

script.
	if( !Element.prototype.append ){
		document.write("<script src='//cdnjs.cloudflare.com/ajax/libs/dom4/1.8.3/dom4.js'><\/script>")
	};
script(src="index.js",defer)
//google analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-118980434-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-118980434-1');

//include ../../index.js