@font-face
	font-family: Ubuntu
	font-style: normal
	font-weight: 400
	src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff')

@font-face
	font-family: Ubuntu
	font-style: normal
	font-weight: 700
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')

*, :before, :after
	box-sizing:     border-box
	text-rendering: optimizeLegibility

html,input
	font-family:Ubuntu, Helvetica Neue, Helvetica, sans-serif

html
	color:rgba(#000,.7)
	line-height:1.4em
	font-size:16px //force font size in mobile webkit
	-webkit-text-size-adjust: 100% //force font size in mobile webkit

body
	margin:0

img
	max-width: 100%
	border: none

ul
	padding-left:1.1em

