---
autoprefix: true
---
vendors = official

sun(a,b)
	rgb(red(a)+b,green(a)+b,blue(a))

brand=#83c61a #bd000c #2eb3ed #ee9908

brand[1]=lighten(desaturate(#9300cf,20%),20%)

light=tint(sun(brand[0],2),15%) tint(sun(brand[1],2),15%) tint(sun(brand[2],2),15%) tint(sun(brand[3],2),15%)

xlight=tint(sun(light[0],2),65%) tint(sun(light[1],2),65%) tint(sun(light[2],2),65%) tint(sun(light[3],2),65%)

dark=(brand[0]*0.95) (brand[1]*0.95) (brand[2]*0.95) (brand[3]*0.95)

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//reset
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


*, :before, :after
	box-sizing:     border-box

html,input
	font-family:Ubuntu, Helvetica Neue, Helvetica, sans-serif

html
	line-height:1.4em
	font-size:16px //force font size in mobile webkit
	-webkit-text-size-adjust: 100% //force font size in mobile webkit
	background: xlight[2]
	background:url(/bannerbottom.jpg)
	background-size:100%

.main
	background:url(/bannerbottom.jpg)
	background:linear-gradient(to bottom, rgba(#B9B9B9,0) 0%,rgba(#B9B9B9,0.6) 50%,rgba(#B9B9B9,1) 100% )
	background-size:100%
body
	margin:0

img
	max-width: 100%
	border: none

ul
	padding-left:1.1em

ul:first-child
	margin-top:0

a
	color:dark[2]

input[type=text],input[type=submit],input[type=email]
	font-size:inherit
	padding:.3em .6em
	margin:0
	border:none
	border-radius: 1em;
	background:#fff
	outline: none
	max-width:100%
input[type=text],input[type=email]
	width:12em
input[type=submit]
	color:brand[2]
	cursor:pointer

input:focus
	box-shadow: 0 0 0 .2em brand[2]
input:focus::-webkit-input-placeholder
	color:dark[2]
input:focus:-moz-placeholder
	color:dark[2]
input:focus::-moz-placeholder
	color:dark[2]
input:focus:-ms-input-placeholder
	color:dark[2]

input::-ms-clear
	display: none


////////////////////////////////////////////////////////////////////////////////////////////////
//global styles
////////////////////////////////////////////////////////////////////////////////////////////////

.toolbar,#ws-container a,#ws-container,.pad
	padding:1em

.one-line
	line-height:1ex

////////////////////////////////////////////////////////////////////////////////////////////////
//keyframes
////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes zoom
	from
		transform:scale3D(0,0,1)
		opacity:0
	to
		transform:scale3D(1,1,1)
		opacity:1
@keyframes fade
	from
		opacity:0
	to
		opacity:1
@keyframes bounceIn
	0%, 40%, 80%, 100%
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	0%
		opacity: 0
		transform: scale(.3, .3)
	40%
		transform: scale(1.1, 1.1)
	80%
		transform: scale(1, 1)
	100%
		opacity: 1
@keyframes shakered
	0%
		transform: translateX(0)
	10%, 30%, 50%, 70%
		transform: 	translateX(-10px)
	20%, 40%, 60%
		transform:	translateX(10px)
	80%
		transform: translateX(0)



////////////////////////////////////////////////////////////////////////////////////////////////
//header
////////////////////////////////////////////////////////////////////////////////////////////////

.logo
	margin-right:.4em
	vertical-align:middle
h1
	font-size:4.1em
	margin: .1em 0 .3em 0
	@extend .one-line

.middle
	display:inline-block
	vertical-align:middle

header .middle div
	@extend .one-line

/*
.paypal
	vertical-align:middle
	margin:-4px 0
*/
header
	height:0
	padding-bottom:20%
	//max-height:109px
	//transition:max-height .5s
	overflow:hidden
	position:relative
header.dark-background
	background:url(/banner2.jpg)
	background-size:cover
header img
	width:100%;
	display:block
.header-content
	padding:1em;
	//position:absolute;
	top:0;
	//left:50%;
	//transform:translateX(-50%)
	//background:rgba(#000,0.7)
	//border-radius:1em
	//width:685px
	color:#fff
	text-align:center
	background:#50493F;//brand[2]
	background:url(/bannertop.jpg)
	background:linear-gradient(to right, #B9B9B9 0%,#B9B9B9 33%,#818C93 35%,#557CA7 36%,#204F84 38%,#204F84 42%,#404038 44%,#434746 46%,#133552 48%,#133552 50.5%,#455E75 51.6%,#979FAB 52.8%,#959CA7 62%,#83979E 64%,#8598A3 66%,#5786BA 68%,#5B89BA 100%)
	-webkit-transform:translateZ(0)
	background-size:100% 100%
	position:relative;
	z-index:1
.header-content-inner
	filter:drop-shadow(0 0 15px rgba(0,0,0,0.5))

@keyframes banner
	0%
		opacity:0
	10%
		opacity:0
	20%
		opacity:1
	30%
		opacity:0
	100%
		opacity:0


.banner-words
	width:33.33%
	float:left
	text-align:center
	text-transform:uppercase;
	padding-top:16.5%
	font-size:3vw
	text-shadow:0 0 1em #000
	font-weight:bold
	opacity:0
.banner-words:first-child
	color:#000
	text-shadow:0 0 1em #fff
	animation:banner 20s infinite
.banner-words:nth-child(2)
	animation:banner 20s 3s infinite
.banner-words:nth-child(3)
	animation:banner 20s 6s infinite

////////////////////////////////////////////////////////////////////////////////////////////////
//content
////////////////////////////////////////////////////////////////////////////////////////////////

.popup
	display:none
#toggle-info:checked~.main .popup
	display:block

.slide
	width:310px
	height:151px
	float:right
	margin-left:1em
	position:relative
	background:#fff
	img
		position:absolute
		top:0
		left:0

@keyframes s
	0%,22.67%,100%
		opacity: 0
	19.67%,3%
		opacity: 1

.slide img{opacity:0}
.slide img:nth-child(1){animation:s 24s    infinite}
.slide img:nth-child(2){animation:s 24s 4s infinite}
.slide img:nth-child(3){animation:s 24s 8s infinite}
.slide img:nth-child(4){animation:s 24s 12s infinite}
.slide img:nth-child(5){animation:s 24s 16s infinite}
.slide img:nth-child(6){animation:s 24s 20s infinite}

.popup strong
	max-width:694px

#toggle-info:checked~* .popup strong
	display:block
	animation: shakered 1s

////////////////////////////////////////////////////////////////////////////////////////////////
//toolbar
////////////////////////////////////////////////////////////////////////////////////////////////

.toolbar
	@extend .one-line
	//background:rgba(#000,0.5) //brand[2]
	position:absolute;
	//width:100%;
	//position:-webkit-sticky
	top:0
	right:0
	text-align:right;
	z-index:2

.toolbar>*
	display:inline-block
	vertical-align:middle
.toolbar>*:not(:first-child)
	margin-left:1em
#inputform
	text-align:center
	padding:1em
	padding-top:2em
	z-index:1
	position:relative
#ws-input
	font-size:2em
	background:#fff url(search.png) center right no-repeat
	background:#fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTEgMjBsNS00Yy42LS41IDEuNS0xIDItMS0xLjMtMS42LTItMy44LTItNiAwLTUgNC05IDktOXM5IDQgOSA5LTQgOS05IDljLTIuMiAwLTQuNC0uNy02LTIgMCAuNS0uNSAxLjQtMSAybC00IDVjLS44IDEtMiAxLTMgMHMtMS0yIDAtM3ptMTQtNWMzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNi02IDIuNy02IDYgMi43IDYgNiA2eiIvPjwvc3ZnPg==") center right no-repeat
	background-size:1.3333em 1em
	animation:bounceIn .5s
// <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24"><path d="M1 20l5-4c.6-.5 1.5-1 2-1-1.3-1.6-2-3.8-2-6 0-5 4-9 9-9s9 4 9 9-4 9-9 9c-2.2 0-4.4-.7-6-2 0 .5-.5 1.4-1 2l-4 5c-.8 1-2 1-3 0s-1-2 0-3zm14-5c3.3 0 6-2.7 6-6s-2.7-6-6-6-6 2.7-6 6 2.7 6 6 6z"/></svg>

.toolbar-icon
	position:relative
	text-align:center
	width:1em
	transform:translateZ(0px)
	cursor:pointer
.toolbar-icon:after, .toolbar-icon:before
	opacity:0
	transform:translateY(-16px)
	transition:opacity .3s, transform .3s
.ie .toolbar-icon:after, .ie .toolbar-icon:before
	visibility:hidden
.toolbar-icon:after
	content:attr(data-title)
	font-size:14px
	position:absolute
	color:#fff
	background:#000
	background:rgba(#000,.6)
	width:40px
	border-radius:5px
	top:24px
	left:-12px
	line-height:1.1em
	padding-top:3px
	padding-bottom:3px
.toolbar-icon:before
	content:""
	position:absolute
	display:block
	width:0
	top:16px
	left:4px
	border:solid 4px rgba(#000,0)
	border-bottom-color:rgba(#000,.6)

.toolbar-icon:hover:after, .toolbar-icon:hover:before, .toolbar-icon:focus:after, .toolbar-icon:focus:before
	opacity:1
	transform:translateY(0px)
	visibility:visible

.info svg
	transition:transform .5s
#toggle-info:checked~* label.info svg
	transform:rotate(45deg)
#toggle-info:checked~* label.info:after
	content:"less info"

.toolbar-icon.mail:after,.toolbar-icon.twitter:after
	width:52px
	left:-18px

#mail-form
	display:none
	font-size: 12px;
#toggle-mail:checked~* #mail-form
	display:inline-block
#toggle-mail:checked~* .toolbar-icon.mail
	display:none
#toggle-mail:checked~.toolbar
	background:rgba(#000,0.3)
////////////////////////////////////////////////////////////////////////////////////////////////
//results
////////////////////////////////////////////////////////////////////////////////////////////////

.block
	background:#fff
	padding:1em
.info-block
	margin-bottom:-1em

#ws-container
	column-width:20em
	column-gap:1em
	a
		display:inline-block
		width:100%
		margin-bottom:1em
		background:#fff
		white-space:pre-wrap
		text-rendering: optimizeSpeed
		text-decoration:none
		overflow:hidden
	img
		float:right
		margin-left:1em
#showalllink
	cursor:pointer
.ie #ws-container a
	width:20em
	margin-right:1em

.clicked
	border:solid .5em brand[2]
	border-bottom-width:2em
	position:relative

.clicked:after
	content:"Added to Cart"
	position:absolute
	bottom:-1.7em
	left:0
	color:#fff

////////////////////////////////////////////////////////////////////////////////////////////////
//helper classes
////////////////////////////////////////////////////////////////////////////////////////////////

.hidden
	display:none

.dark-background
	background:#575043
	color:#fff
	a
		color:light[2]

.spacer
	display:inline-block
	padding-right:3em

.cover
	z-index:10
	position:fixed
	width:100%
	height:100%
	top:0
	left:0
	background:rgba(#000,.4)
	animation:fade .5s
	iframe
		position:absolute
		width:60%
		height:60%
		top:20%
		left:20%
		background:#fff
		border:none
		animation:zoom .5s

[hidden]
	display:none

////////////////////////////////////////////////////////////////////////////////////////////////
//media queries
////////////////////////////////////////////////////////////////////////////////////////////////

.mobile
	display:none

@media screen and (max-width: 720px)
	html
		font-size:14px

@media screen and (max-width: 930px)
	.header-content-inner
		text-align:left

@media screen and (max-width: 824px)
	.middle div
		width:330px
		line-height:1.3em
		text-align:left
	h1
		font-size:2.6em
		margin-bottom: .2em

@media screen and (max-width: 568px)
	.header-content
		text-align:left
	.header-content,.main
		background:#BABABA
@media screen and (max-width: 580px)
	.slide
		display:none !important

@media screen and (max-width: 535px)
	#mail-form
		margin-left:0em
	#toggle-mail:checked~* #mail-form
		display:block
		margin-top:.5em
@media screen and (max-width: 520px)
	.mobile
		display:block
		margin-top:1em
	.desktop
		display:none
	header
		max-height:150px
	h1
		width:200px
		font-size:3em
		line-height:.9em
		margin:0
	.header-helper
		font-size: 1.35em;
		position: relative;
		left: -3px;
		top: 2px;

@media screen and (max-width: 400px)
	.header-content h1
		font-size:2.4em

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"



.header-content
	background:brand[2]
.main
	background:xlight[2]
html
	background:xlight[2]
.header-content-inner
	filter:drop-shadow(0 0 15px rgba(0,0,0,0.1))