---
autoprefix: true
---
vendors = official
@import "reset.css.styl"
@import "layout.css.styl"



sun(a,b)
	rgb(red(a)+b,green(a)+b,blue(a))

brand=#83c61a #bd000c #2eb3ed #ee9908

brand[1]=lighten(desaturate(#9300cf,20%),20%)

light=tint(sun(brand[0],8),15%) tint(sun(brand[1],8),15%) tint(sun(brand[2],8),15%) tint(sun(brand[3],8),15%)

xlight=tint(sun(light[0],8),65%) tint(sun(light[1],8),65%) tint(sun(light[2],8),65%) tint(sun(light[3],8),65%)

dark=(brand[0]*0.95) (brand[1]*0.95) (brand[2]*0.95) (brand[3]*0.95)


.slide
	background:#fff

@keyframes s
	0%,22.67%,100%
		opacity: 0
	19.67%,3%
		opacity: 1

.slide img{opacity:0}
.slide img:nth-child(1){animation:s 24s    infinite}
.slide img:nth-child(2){animation:s 24s 4s infinite}
.slide img:nth-child(3){animation:s 24s 8s infinite}
.slide img:nth-child(4){animation:s 24s 12s infinite}
.slide img:nth-child(5){animation:s 24s 16s infinite}
.slide img:nth-child(6){animation:s 24s 20s infinite}

header
	background:#575043

h1, #cart, #mail
	color:#fff

#cart
	background:url(cart.png) center no-repeat
	background-size:16px 16px

#mail
	background:url(mail.png) center no-repeat
	background-size:16px 16px
	input[type=submit],input[type=email]
		border:none
	input[type=submit]
		color:#fff
		cursor:pointer
	input[type=email]
		background:#fff

#mail:hover
	background:none
#mail:hover:before
	content:"Subscribe to our newsletter for a free template!"

#subscribed:target #mail
	background:none
#subscribed:target #mail:before
	content:"We sent you an email to validate your subscription."

nav a
	color:inherit
	text-decoration:none


.infobox a,.infobox .more
	color:#fff

label.more
	cursor:pointer
	background:url(plus.png) no-repeat
	background-size:16px 16px
	transform:rotate(0deg)
	transition:transform .5s

#tmore:checked~div label.more
	transform:rotate(45deg)

@keyframes shakered
	0%
		transform: translateX(0)
		color:red
	10%, 30%, 50%, 70%
		transform: 	translateX(-10px)
	20%, 40%, 60%
		transform:	translateX(10px)
	80%
		transform: translateX(0)
		color:red
	100%
		color:rgba(#000,.7)

#tmore:checked~div .popup strong
	animation: shakered 1s


@keyframes zoom
	from
		transform:scale3D(0,0,1)
		opacity:0
	to
		transform:scale3D(1,1,1)
		opacity:1
@keyframes fade
	from
		opacity:0
	to
		opacity:1

.cover
	background:rgba(#000,.4)
	animation:fade .5s
	iframe
		background:#fff
		border:none
		animation:zoom .5s

@keyframes bounceIn
	0%, 40%, 80%, 100%
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	0%
		opacity: 0
		transform: scale(.3, .3)
	40%
		transform: scale(1.1, 1.1)
	80%
		transform: scale(1, 1)
	100%
		opacity: 1

#input
	border-radius:1.1em
	border:none
	background:#fff url(search.png) center right no-repeat
	background-size:32px 24px
	outline: none
	animation:bounceIn .5s

#input:focus
	box-shadow: 0 0 0 .1em brand[2]
#input:focus::-webkit-input-placeholder
	color:dark[2]
#input:focus:-moz-placeholder
	color:dark[2]
#input:focus::-moz-placeholder
	color:dark[2]
#input:focus:-ms-input-placeholder
	color:dark[2]

#container a
	background:#fff
	white-space:pre-wrap
	text-rendering: optimizeSpeed
	text-decoration:none

#mail input[type=submit]
	background:brand[2]

nav a
	background:light[2]
	.tab path
		fill:light[2]

.infobox
	i=2
	background:light[i]
	background:url(s("bak%s.png",i+1)) center right no-repeat ,linear-gradient(light[i] 0%, brand[i] 50% ,dark[i] 100%)
	background-size: auto 64px, 100% 100%
	background-origin: content-box,padding-box
	@media screen and (max-width: 1084px)
		background:light[i]
		background:linear-gradient(light[i] 0%, brand[i] 50% ,dark[i] 100%)
#tmore:checked~.infobox
	background:light[2]
	background:linear-gradient(light[2] 0%, brand[2] 50% ,dark[2] 100%)

html
	background:xlight[2]

#container a
	color:dark[2]

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"

@media retina
	label.more
		background-image:url(plusr.png)
	#cart
		background-image:url(cartr.png)
	#mail
		background-image:url(mailr.png)
	#input
		background-image:url(searchr.png)

