---
autoprefix: true
---
vendors = official

sun(a,b)
	rgb(red(a)+b,green(a)+b,blue(a))

brand=#83c61a #bd000c #2eb3ed #ee9908

brand[1]=lighten(desaturate(#9300cf,20%),20%)

light=tint(sun(brand[0],8),15%) tint(sun(brand[1],8),15%) tint(sun(brand[2],8),15%) tint(sun(brand[3],8),15%)

xlight=tint(sun(light[0],8),65%) tint(sun(light[1],8),65%) tint(sun(light[2],8),65%) tint(sun(light[3],8),65%)

dark=(brand[0]*0.95) (brand[1]*0.95) (brand[2]*0.95) (brand[3]*0.95)

////////////////////////////////////////////////////////////////////////////////////////////////
//reset
////////////////////////////////////////////////////////////////////////////////////////////////
*, :before, :after
	box-sizing:     border-box

html
	background:xlight[2]
	font-family:Helvetica Neue, Helvetica, sans-serif

body
	margin:0


////////////////////////////////////////////////////////////////////////////////////////////////
//global styles
////////////////////////////////////////////////////////////////////////////////////////////////

header,.toolbar,#ws-container a,#ws-container
	padding:1em

.one-line
	line-height:1ex

////////////////////////////////////////////////////////////////////////////////////////////////
//header
////////////////////////////////////////////////////////////////////////////////////////////////

.logo
	margin-right:.4em
	vertical-align:middle
h1
	font-size:4.1em
	margin: .1em 0 .3em 0
	@extend .one-line

.middle
	display:inline-block
	vertical-align:middle

header .middle div
	@extend .one-line

/*
.paypal
	vertical-align:middle
	margin:-4px 0
*/
header
	height:109px
	transition:height .5s
	overflow:hidden

////////////////////////////////////////////////////////////////////////////////////////////////
//content
////////////////////////////////////////////////////////////////////////////////////////////////


.toolbar
	background:brand[2]
	position:-webkit-sticky
	top:0
	left:0
	height:59px

.dark-background
	background:#575043
	color:#fff

.pad
	display:inline-block
	padding-right:3em

.hidden,.mobile,.popup,.toolbar-icon,#inputform,#mail-form,#ws-container
	display:none

@media screen and (max-width: 720px)
	html
		font-size:14px
	header
		height:105px

@media screen and (max-width: 610px)
	header .middle div
		width:330px
		line-height:1.3em
	h1
		font-size:2.6em
		margin-bottom: .2em


@media screen and (max-width: 435px)
	.mobile
		display:block
		margin-top:1em
	.desktop
		display:none
	h1
		width:200px
		font-size:3em
		line-height:.9em
		margin:0
	header
		height:157px