@import nib

retina="(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)"

@font-face
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');

@font-face
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');


@keyframes shake
	0%
		transform: translateX(0)
		color:red
	10%, 30%, 50%, 70%
		transform: 	translateX(-10px)
	20%, 40%, 60%
		transform:	translateX(10px)
	80%
		transform: translateX(0)
		color:red
	100%
		color:rgba(#000,.7)

:checked~strong.popup
	animation-name: shake
	animation-duration: 1s
	animation-fill-mode: both


*
	box-sizing:     border-box
	text-rendering: optimizeLegibility

html
	overflow-y: scroll
	font-family:Ubuntu,sans-serif
	color:rgba(#000,.7)
	line-height:1.4em
	min-width:700px
	font-size:16px //force font size in mobile webkit
	-webkit-text-size-adjust: 100% //force font size in mobile webkit

body
	margin:0

html,body
	min-height: 100%

img
	max-width: 100%
	border: none
	height:auto
ul
	margin:1em 0
	padding-left:1.1em
	max-width:35em
a
	text-decoration:underline
	cursor:pointer
figure
	width:310px
	display:inline-block
	float:right
	margin:0
	overflow:hidden
	background:#fff
	position:relative
	&:before
		content:""
		display:block
		padding-top:45%

figure img
	position:absolute
	width:100%
	top:0
	left:0

@keyframes s
	0%,22.67%,100%{opacity: 0}
	19.67%,3%{opacity: 1}

.slide img{opacity:0}
.slide img:nth-child(1){animation:s 24s    infinite}
.slide img:nth-child(2){animation:s 24s 4s infinite}
.slide img:nth-child(3){animation:s 24s 8s infinite}
.slide img:nth-child(4){animation:s 24s 12s infinite}
.slide img:nth-child(5){animation:s 24s 16s infinite}
.slide img:nth-child(6){animation:s 24s 20s infinite}

h1
	margin:0
	//padding:.5rem 1rem ie!!!!
	padding:8px 16px
	img
		height:62px
		margin-bottom:-5px
		margin-right:.4em
		vertical-align:middle
	span
		top:.1em

#cart,#mail
	position:absolute
	font-size:.62em
	top:0
	padding:1em 0
	z-index:1
	cursor:pointer
	color:#fff
	line-height:1em
	min-width:16px
	height:36px

#cart
	right:1em
	background:url(cart.png) center no-repeat
	background-size:16px 16px
#mail
	right:3.5em
	background:url(mail.png) center no-repeat
	background-size:16px 16px
	input[type=submit],input[type=email]
		border:none
		border-radius:5px
		padding:1px 5px
		font-family: Ubuntu
		display:none
	input[type=submit]
		color:#fff
		cursor:pointer
	input[type=email]
		background:#fff
#mail:hover input
	display:inline-block
#mail:hover
	background:none
#mail:before
	position:relative
#mail:hover:before
	content:"Subscribe to our newsletter for a free template!"
	display:inline-block
	padding-right:1em
#subscribed:target #mail:before
	content:"We sent you an email to validate your subscription."
	display:inline-block
	top:.4em
	padding-right:0 !important
#subscribed:target #mail *
	display:none
nav
	position:absolute
	bottom:-1px
	right:0
	direction:rtl
	a
		margin-right:17px
		//width:10em
		display:inline-block
		direction:ltr
		padding:7px 1px 9px 1px
		border-top:solid 1px #000
		font-size:20px
		line-height:1em

.tab
	position:relative
	transform:scale(.6,.6)
	transform-origin:0 0
	position:absolute
	top:0
	right:-34px
.tab:nth-child(3){left:-20px}
.border{transform:scale(.6,.6);transform-origin:0 0;position:absolute;top:-1px;right:-35px;}
.border:nth-child(1){left:-21px}
svg path{stroke:none;}

.logos nav [href=logos]
.elements nav [href=elements]
.templates nav [href=templates]
.graphics nav [href=graphics]
	z-index:1
/*
@media screen and (max-width: 1070px)
	h1
		padding-bottom:30px
*/
aside
	padding:1em

aside div
	display:none

.logos aside .logos
.elements aside .elements
.templates aside .templates
.graphics aside .graphics
	display:block

.paypal
	height:25px
	vertical-align:middle

.popup
	display:none
:checked~ul
	display:block
:checked~figure
	display:inline-block !important
:checked~.popup
	display:block
input.more
	visibility:hidden
	margin:0
	width:0
	position:absolute
label.more
	cursor:pointer
	display:block
	text-decoration:none
	width:16px
	height:16px
	background:url(plus.png) no-repeat
	background-size:16px 16px
	transition:.5s

:checked~label.more
	transform:rotate(45deg)

@keyframes zoom
	from
		transform:scale3D(0,0,1)
		opacity:0
	to
		transform:scale3D(1,1,1)
		opacity:1
@keyframes fade
	from
		opacity:0
	to
		opacity:1

.cover
	z-index:10
	background:rgba(#000,.4)
	position:fixed
	width:100%
	height:100%
	top:0
	left:0
	animation:fade .5s
	iframe
		background:#fff
		border:none
		position:absolute
		width:60%
		height:60%
		top:20%
		left:20%
		animation:zoom .5s

body>menu
	display:none
	padding:0 1em

.logos menu.logos
.elements menu.elements
.templates menu.templates
.graphics menu.graphics
	display:block

.templates menu
	text-align:center

menu a
	display:inline-block
	background:white
	padding:.5em
	margin-bottom:5px
	margin-right:5px
	border-radius:.2em
	cursor:pointer

#input
	font-size:1.4em
	padding:.3em .6em
	width:12em
	margin:1em 0
	max-width:100%
	border-radius:25px
	border:none
	border-top:solid 1px rgba(#000,.1)
	background:#fff url(search.png) center right no-repeat
	box-shadow:0 1px 0 rgba(#fff,.5)
	background-size:32px 24px
	//fixes bug in chrome
	font-family: Ubuntu
#input::-ms-clear
	display: none

::-webkit-input-placeholder
	color: rgba(#000,.3)
:-moz-placeholder
	color: rgba(#000,.3)

#container a
	display:inline-block
	background:#fff
	white-space:pre-wrap
	padding:16px
	width:100%
	//margin-bottom:1rem ie!!!
	margin-bottom:16px
	text-rendering: optimizeSpeed
	text-decoration:none !important
	small
		opacity:0.5
		font-size:0.62em
		display:none
#container
	padding:0 1em
	column-width:200px
	column-gap:1em
	margin-bottom:-3em

.graphics #container
	column-width:500px

.logos #container a
.elements #container a
.graphics #container a
	font-size:0
	text-decoration:none
	line-height:0
.templates #container
	column-width:320px

.templates #container a img
	width:150px
	float:right
	margin-left:1em

.ie #container a
	width:200px
	margin-right:1em
.graphics .ie #container a
	width:500px
.templates .ie #container a
	width:320px

footer
	text-align:center
	padding:2em
	padding-top:5em
	padding-bottom:1em
	text-shadow:0 1px 0 rgba(#fff,.4)
	color:rgba(#000,.6)
	.txt
		display:inline-block
		padding:0 2em
		padding-bottom:1em
	a
		color:#fff
		text-shadow:0 1px 0 rgba(#fff,.1)


brand1=#83c61a
brand2=#bd000c
brand3=#2eb3ed
brand4=#ee9908

brand2=lighten(desaturate(#9300cf,20%),20%)

lb1=lighten(brand1,15%)
lb2=lighten(brand2,15%)
lb3=lighten(brand3,15%)
lb4=lighten(brand4,15%)

light1=rgb(red(lb1)+15,green(lb1),blue(lb1))
light2=rgb(red(lb2),green(lb2)+15,blue(lb2))
light3=rgb(red(lb3),green(lb3)+15,blue(lb3))
light4=rgb(red(lb4),green(lb4)+15,blue(lb4))

xlight1=lighten(light1,15%)
xlight2=lighten(light2,6%)
xlight3=lighten(light3,25%)
xlight4=lighten(light4,25%)


xlight=xlight1 xlight2 xlight3 xlight4
light=light1 light2 light3 light4
brand=brand1 brand2 brand3 brand4

header
	background:#575043
	position:relative

h1
	color:#eee
	text-shadow:2px 2px 3px rgba(#000,.4)

#mail input[type=submit]
	background:brand[2]
nav
	padding-right:.3em
nav a
	position:relative
	text-decoration:none
	color:#000
/*
nav [href=logos]
	background:light[0]
	border-top-color:xlight[0]
	.tab path
		fill:light[0]
	.border path
		fill:xlight[0]

nav [href=elements]
	background:light[1]
	border-top-color:xlight[1]
	.tab path
		fill:light[1]
	.border path
		fill:xlight[1]
*/
nav [href=templates]
	background:light[2]
	border-top-color:xlight[2]
	.tab path
		fill:light[2]
	.border path
		fill:xlight[2]
/*
nav [href=graphics]
	background:light[3]
	border-top-color:xlight[3]
	.tab path
		fill:light[3]
	.border path
		fill:xlight[3]
*/
/*
.logos aside
	i=0
	border-top:solid 1px xlight[i]
	background:light[i]
	background:linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
	border-bottom:solid 1px darken(brand[i],25%)

.elements aside
	i=1
	border-top:solid 1px xlight[i]
	background:light[i]
	background:linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
	border-bottom:solid 1px darken(brand[i],25%)
*/
.templates aside
	i=2
	border-top:solid 1px xlight[i]
	background:light[i]
	background:url(s("bak%s.png",i+1)) center right no-repeat ,linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
	border-bottom:solid 1px darken(brand[i],25%)
	background-size: auto 64px, 100% 100%
	background-origin: content-box,padding-box
	@media screen and (max-width: 1084px)
		background:light[i]
		background:linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
/*
.graphics aside
	i=3
	border-top:solid 1px xlight[i]
	background:light[i]
	background:linear-gradient(light[i] 0%,lighten(brand[i],10%) 10% ,brand[i] 90% ,darken(brand[i],5%) 100%)
	border-bottom:solid 1px darken(brand[i],25%)
*/
aside
	box-shadow:0 -5px 10px rgba(#000,.2)
	position:relative
aside,nav
	text-shadow:0 1px 0 rgba(#fff,.2)
aside a,aside .more
	color:#fff
	text-decoration:underline
figure
	box-shadow:0 1px 5px rgba(#000,.5)
/*
html.logos
	background:lighten(xlight[0],60%)
	background:lighten(xlight[0],60%) linear-gradient(rgba(xlight[0],0) 0%,light[0] 100%)
html.elements
	background:lighten(xlight[1],60%)
	background:lighten(xlight[1],60%) linear-gradient(rgba(xlight[1],0) 0%,light[1] 100%)
*/
html.templates
	background:lighten(xlight[2],60%)
	background:lighten(xlight[2],60%) linear-gradient(rgba(xlight[2],0) 0%,light[2] 100%)
/*
html.graphics
	background:lighten(xlight[3],60%)
	background:lighten(xlight[3],60%) linear-gradient(rgba(xlight[3],0) 0%,light[3] 100%)
*/
.templates #container a
	color:brand[2]

/*
.logos footer
	background:linear-gradient(rgba(xlight[0],0) 0%,light[0] 100%)
.elements footer
	background:linear-gradient(rgba(xlight[1],0) 0%,light[1] 100%)
.templates footer
	background:linear-gradient(rgba(xlight[2],0) 0%,light[2] 100%)
.graphics footer
	background:linear-gradient(rgba(xlight[3],0) 0%,light[3] 100%)
*/

@media retina
	label.more
		background-image:url(plusr.png)
	#cart
		background-image:url(cartr.png)
	#mail
		background-image:url(mailr.png)
	#input
		background-image:url(searchr.png)